body {
  background-color: #f9f9f9;
}

.images {
  max-width: 250px;
  max-height: 250px;
}

.adoption_app {
  position: absolute;
  max-width: 50%;
  /*margin: 120px auto;*/
  display: block;
  margin: 50px auto 0 25%;
  /*left: 40%;*/
  border-radius: 2%;
  padding: 15px;
}

.error {
  color: rgb(219, 47, 47);
}

.success-tile {
  max-width: 50%;
  margin: auto;
}

.cell {
  max-width: 40%;
  margin: auto;
  padding-top: 1rem;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0a0a0a;
  color: #2f99e8;
  text-align: center;
  padding: 15px 0px;
}

.logo {
  max-height: 40px;
}

.card {
  background-color: #e0e2e9;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: #e0e2e9;
}

.animal-show {
  max-width: 60%;
  margin: 1% auto 1% auto;
  background-color: #e0e2e9;
  border-radius: 2%;
  padding: 1.25rem 2rem;
}



.home {
  padding-bottom: 3rem;
}

.navbar {
  background-color: aqua;
}

.callout {
  position: fixed;
  top: 170px;
  max-width: 50%;
  margin: auto;
}

.right {
  margin-right: 70px;
}

.in-process {
  position: fixed;
  top: 170px;
  max-width: 50%;
  margin: auto;
}

.button .round {
  display: block;
  margin: auto;
}

.approve-adoption {
  margin-top: 80px;
  text-align: center;
}

.pet {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  max-width: 100%;
  margin-top: 40px;
}

.container {
  background-color: #fff;
  padding: 100px;
  min-height: calc(100vh - 300px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .content {
  position: relative;
  text-align: center;
  width: 100%;
}

.max-width-800 {
  max-width: 800px;
  margin: 0 auto;
}

.pet .pet-box .pet-img {
  margin-top: 25px;
}
.pet .pet-box .pet-img img {
  max-width: 200px;
  margin-bottom: 15px;
  height: 200px;
  border-radius: 10px;
}

.pet .pet-box .pet-details h2 a {
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}

/*surrender form*/

#surrender-form {
  margin-top: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 88px);
  background-color: #f9f9f9;
}

#surrender-form label {
  margin-left: 100px;
}


#surrender-form h2 {
  text-align: center;
  color: darkorchid;
}

.surrender-form-container {
  position: relative;
  min-width: 1100px;
  min-height: 550px;
  display: flex;
  z-index: 0;
  /*background-color: aliceblue;*/
}

/*#surrender-form-box .input-box input[type="submit"]:hover {*/
/*  background-color: #fff;*/
/*  transform: rotateY(360deg);*/
/*  color: #e91e63;*/
/*}*/


/*@media (max-width: 1200px) {*/
/*  .surrender-form-container {*/
/*    width: 90%;*/
/*    min-width: auto;*/
/*    margin: 20px;*/
/*    box-shadow: 0 20px 50px rgba(0, 20, 0, 0.2);*/
/*  }*/
/*}*/

#surrender-form-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
  width: 80%;
  border-radius: 100px;
  border: outset black;
}

label {
  margin-left: 15px;
  margin-top: 20px;
  display: block;
}

form {
  width: 70%;
  background-color: #abcdef;
}

.button {
  /*margin-top: 10px;*/
  font-size: 20px;
  color: #fff;
  background-color: lightsalmon;
  display: block;
  margin:auto;
  padding: 4px 10px;
  border-radius: 15px;
  text-decoration: none;
  transition: 0.5s;
}

#surrender-btn {
  /*margin-top: 10px;*/
  font-size: 20px;
  color: #fff;
  background-color: #e91e63;
  display: block;
  margin: 25px 0 15px 340px;
  padding: 4px 10px;
  border-radius: 15px;
  text-decoration: none;
  transition: 0.5s;
}

.pending-box label {
  display: block;
  margin: auto;
}

.pending-box .approve {
 margin-bottom: 10px;
  border-style: outset;
  background-color: chartreuse;
  padding: 10px;
  border-radius: 8px;
  font-weight: bolder;
}

.deny-form {
  width: 1%;
  height: 0.1%;
  background-color: #ffffff;
  border: none;
}

.deny  {
  margin: 10px auto 10px 248px;
  border-style: outset;
  background-color: crimson;
  padding: 10px;
  border-radius: 8px;
  font-weight: bolder;
}

.success {
  display: block;
  margin: auto;
}