@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f9f9f9;
}

.images {
  max-width: 250px;
  max-height: 250px;
}

.adoption_app {
  position: absolute;
  max-width: 50%;
  margin: 20px auto 30px;
  border-radius: 2%;
  padding: 25px;
}

.error {
  color: rgb(219, 47, 47);
}

.success-tile {
  max-width: 50%;
  margin: auto;
}

.cell {
  max-width: 40%;
  margin: auto;
  padding-top: 3rem;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0a0a0a;
  color: #2f99e8;
  text-align: center;
  padding: 15px 0px;
}

.logo {
  max-height: 40px;
}

.card {
  background-color: #e0e2e9;
  padding: 1.5rem;
  margin-top: 30px;
  height: 40%;
}

form {
  background-color: #e0e2e9;
}

.animal-show {
  max-width: 40%;
  margin: 1% auto 1% auto;
  background-color: #e0e2e9;
  border-radius: 2%;
  padding: 0.25rem 1rem;
}

.home {
  padding-bottom: 3rem;
}

.navbar {
  background-color: aqua;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 200px;
}

.navbar ul {
  position: relative;
  display: flex;
  list-style: none;
}

.navbar ul li a {
  display: inline-block;
  color: #555;
  font-weight: 800;
  margin-left: 20px;
  text-decoration: none;
  padding: 10px 20px;
}


