@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f9f9f9;
}

.images {
  max-width: 250px;
  max-height: 250px;
}

.adoption_app {
  position: absolute;
  max-width: 70%;
  margin: 120px auto 30px;
  border-radius: 2%;
  padding: 25px;
}

.error {
  color: rgb(219, 47, 47);
}

.success-tile {
  max-width: 50%;
  margin: auto;
}

.cell {
  max-width: 40%;
  margin: auto;
  padding-top: 3rem;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0a0a0a;
  color: #2f99e8;
  text-align: center;
  padding: 15px 0px;
}

.logo {
  max-height: 40px;
}

.card {
  background-color: #e0e2e9;
  padding: 1.5rem;
  margin-top: 30px;
  height: 40%;
}

form {
  background-color: #e0e2e9;
}

.animal-show {
  max-width: 40%;
  margin: 120px auto 1% auto;
  background-color: #e0e2e9;
  border-radius: 2%;
  padding: 0.25rem 1rem;
}

.home {
  padding-bottom: 3rem;
}

.navbar {
  background-color: aqua;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 200px;
}

.navbar ul {
  position: relative;
  display: flex;
  list-style: none;
}

.navbar ul li a {
  display: inline-block;
  color: #555;
  font-weight: 800;
  margin-left: 20px;
  text-decoration: none;
  padding: 10px 20px;
}

.callout {
  position: fixed;
  top: 170px;
  max-width: 50%;
}

.right {
  margin-right: 70px;
}

.button .round {
  display: block;
  margin: auto;
}

.container {
  background-color: #fff;
  padding: 100px;
  min-height: calc(100vh - 300px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .content {
  position: relative;
  text-align: center;
  width: 100%;
}

.max-width-800 {
  max-width: 800px;
  margin: 0 auto;
}

/* pet styles*/
.pet {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  max-width: 100%;
  margin-top: 40px;
}

.pet .pet-box {
  width: 300px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 15px 30px rgba(0, 20, 0, 0.05);
}

.pet .pet-box .pet-img {
  margin-top: 25px;
}
.pet .pet-box .pet-img img {
  max-width: 200px;
  margin-bottom: 15px;
  height: 200px;
  border-radius: 10px;
}

.pet .pet-box .pet-details h2 a {
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}

#surrender-form {
  margin-top: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 88px);
  /*background-color: #abcdef;*/
}

.surrender-form-container {
  position: relative;
  min-width: 1100px;
  min-height: 550px;
  display: flex;
  z-index: 0;
}

#surrender-form-box .input-box input[type="submit"]:hover {
  background-color: #fff;
  transform: rotateY(360deg);
  color: #e0e2e9;
}

/*@media (max-width: 1200px) {*/
/*  .surrender-form-container {*/
/*    width: 90%;*/
/*    min-width: auto;*/
/*    margin: 20px;*/
/*    box-shadow: 0 20px 50px rgba(0, 20, 0, 0.2);*/
/*  }*/
/*}*/

#surrender-form-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
  width: 100%;
}

/*label {*/
/*  margin: 20px auto 20px;*/
/*  display: block;*/
/*}*/

form {
  width: 70%;
  background-color: #abcdef;
}

/*admin*/

.admin-form {
  background-color: chartreuse;
}

.admin-form label {
  margin: 15px auto 15px 20px;
}